@using Seguritas.Auxiliar;
@{
    var clientes = (List<ClienteContrato>)ViewData["lstClientes"];
    var planes = (List<PlanContrato>)ViewData["lstPlan"];
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Consulta de Clientes</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/estilosCliente.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/funcionesCliente.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <script>
        window.rootUrl = "@Url.Content("~/")";
    </script>

</head>
<body>
    <nav class="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="Cliente/Page">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Plan/Page">Planes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Cobertura/Page">Coberturas</a>
            </li>
        </ul>
    </nav>
    <h2 style="text-align:center;"> Consulta de Clientes </h2>
    <span style="float:right; margin-right:30px;"><a id="lnkCerrar">Cerrar Sesión</a></span>
    <hr />
    <button id="btnNuevo" class="btn btn-primary" style="float:right; margin-right:150px; margin-top: 30px;">Nuevo Cliente</button>
    <div id="divConsulta" class="jumbotron row">
        <div class="container">
            <div id="seccionTabla" class="col-md-12">
                <table id="tblConsulta" class="table table-responsive">
                    <thead>
                        <tr>
                            <th style="text-align: center !important;">No. Cliente</th>
                            <th style="text-align: center !important;">Nombre</th>
                            <th style="text-align: center !important;">Plan</th>
                            <th style="text-align: center !important;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (clientes != null)
                        {
                            foreach (var cliente in clientes)
                            {
                                <tr>
                                    <td name="scCId">@cliente.scCId</td>
                                    <td name="scCNombre">@cliente.scCNombre</td>
                                    <td name="nombreP">@cliente.nombreP</td>
                                    <td>
                                        <div class="form-group text-center">
                                            <button class="btn lineAjust btn-primary delete">Borrar</button>
                                            @*<button class="btn lineAjust btn-primary update">Actualizar</button>*@
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Sin registros</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="divCliente" class="jumbotron ajuste" style="display: none;">
        <div class="container">
            <form id="frmRegistroMateria">
                <div class="container">
                    <h2>Registro de Cliente</h2>
                    <b>Los campos marcados con * deberán ser ingresados obligatoriamente.</b>
                    <br /><br />
                    <div class="form-group">
                        <b>*Nombre del Cliente</b>
                        <input maxlength="20" type="text" id="txtNombre" name="scCNombre" onkeypress="return letra(event)" class="form-control" />
                    </div>
                    <div class="form-group">
                        <b>*Paquete Contratado</b>
                        <select id="cbPaquete" name="claveP" class="form-control">
                            <option id="cbPaquete" selected style="display: none;"></option>
                            @if (planes != null)
                            {
                                foreach (var plan in planes)
                                {
                                    <option id="@plan.scPId">@plan.scPNombre</option>
                                }
                            }
                            else
                            {
                                <option id="0">No se ha registrado ningun plan</option>
                            }
                        </select>
                        <br />
                        @if (planes != null)
                        {

                            <button id="btnAdd" class="btn btn-primary" data-cve="">Agregar Plan</button>
                        }
                    </div>
                    <table id="tblPlan" class="table table-responsive" style="display:none;" >
                        <thead>
                            <tr>
                                <th style="text-align: center !important;">#</th>
                                <th style="text-align: center !important;">Nombre Plan</th>
                                <th style="text-align: center !important;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>    
                    </table>
                    <div class="form-group text-center">
                        <button id="btnSalir" class="btn btn-primary">Salir</button>
                        @if (planes != null)
                        {
                            <button id="btnGuardar" class="btn btn-primary" data-cve="">Guardar</button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function letra(e) {
            tecla = (document.all) ? e.keyCode : e.which;
            if (tecla == 8) return true;
            patron = /[A-Za-z\s]/;
            te = String.fromCharCode(tecla);
            return patron.test(te);
        }
    </script>
</body>
</html>


